@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  background: linear-gradient(to bottom right, #eef2ff, #ffffff, #f3e8ff);
}